<div class="gh-notification gh-notification-subscribe">
    <a class="gh-notification-close" href="javascript:;"></a>
    You've successfully subscribed to {{@site.title}}
</div>

<div class="gh-notification gh-notification-signup">
    <a class="gh-notification-close" href="javascript:;"></a>
    Great! Next, complete checkout for full access to {{@site.title}}
</div>

<div class="gh-notification gh-notification-signin">
    <a class="gh-notification-close" href="javascript:;"></a>
    Welcome back! You've successfully signed in
</div>

<div class="gh-notification gh-notification-checkout">
    <a class="gh-notification-close" href="javascript:;"></a>
    Success! Your account is fully activated, you now have access to all content.
</div>