/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";


/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4vw;
}

.gh-article {
    padding: 8vmin 0;
}

.gh-postfeed {
    padding: 8vmin 0;
}

.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.pico-container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

.gh-head-actions {
    margin: 0 0 4vmin 0;
    transform: scale(1.15);
}


/* Pico Header
/* ---------------------------------------------------------- */

.pico-sitehead {
    padding: 8vmin 0;
    display: flex;
    align-items: flex-start;
}

.pico-sitehead > img {
    flex-shrink: 0;
    width: 140px;
    margin-right: 20px;
    object-fit: fit;
    border-radius: 100%;
    overflow: hidden;
}

.pico-sitehead h1 {
    margin: 0 0 5px 0;
    font-size: 2.4rem;
    font-weight: 800;
}

.pico-sitehead p {
    font-size: 1.7rem;
    opacity: 0.6;
}

.pico-sitehead-cta {
    display: flex;
    margin: 20px 0 0 0;
}

.pico-sitehead-cta .gh-button + .gh-button {
    margin-left: 15px;
}

@media (max-width: 700px) {
    .pico-sitehead {
        flex-direction: column;
        text-align: center;
    }
    .pico-sitehead > img {
        width: 100px;
        margin: 0 auto 4vmin;
    }
    .pico-sitehead-cta {
        justify-content: center;
    }
}


/* Index
/* ---------------------------------------------------------- */

.gh-card:not(:first-child) {
    margin: 8vmin auto 0;
}

.gh-card-link {
    display: flex;
    flex-direction: row-reverse;
}

.gh-card-image {
    width: 200px;
    height: 180px;
    object-fit: cover;
    margin-left: 4vmin;
}

.gh-card-meta {
    display: block;
    margin: 1rem 0 0;
    font-size: 1.4rem;
    line-height: 1.2em;
    opacity: 0.6;
}

.gh-card-title {
    color: var(--color-base);
    font-size: 2.2rem;
    line-height: 1.3em;
}

.gh-card-content {
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1.5em;
}

.gh-card-content p {
    margin: 1.2rem 0;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-card-link {
        flex-direction: column;
    }
    .gh-card-image {
        width: 100%;
        height: auto;
        margin: 0 0 4vw 0;
    }
    .gh-card-content {
        font-size: 1.6rem;
    }
}

/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 2vmin;
}

.gh-footer {
    padding: 3vmin 0 0 0;
}

.pico-pagehead {
    padding: 0 0 10vmin 0;
    display: flex;
    align-items: center;
}

.pico-pagehead-content {
    display: flex;
}

.pico-pagehead > img {
    flex-shrink: 0;
    width: 60px;
    margin-right: 20px;
    object-fit: fit;
    border-radius: 100%;
    overflow: hidden;
}

.pico-pagehead h1 {
    margin: 0 0 5px 0;
    font-size: 2.4rem;
    font-weight: 800;
}

.pico-pagehead p {
    font-size: 1.4rem !important;
    color: rgba(0,0,0,0.5);
}

.pico-pagehead p strong {
    color: rgba(0,0,0,0.9);
}

.pico-pagehead-cta {
    margin: 0.2em 0 0 20px;
}

@media (max-width: 700px) {
    .pico-pagehead {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    .pico-pagehead p {
        margin: 20px 0;
    }
    .pico-pagehead-content {
        flex-direction: column;
    }
    .pico-pagehead-cta {
        margin: 0.2em 0 0 0;
    }
}

.gh-post-meta {
    display: block;
    margin: 0 0 0.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

.gh-feature-image {
    grid-column: wide-start / wide-end;
    width: 100%;
    margin: 6vmin 0 4vmin;
}

.gh-canvas blockquote,
.gh-canvas dl,
.gh-canvas ol,
.gh-canvas p,
.gh-canvas ul {
    font-family: inherit;
    font-size: 1.8rem;
}

.gh-post-footer {
    margin: 2rem 0;
}

.gh-readmore {
    padding: 0 4vw 4vw;
    font-size: 1.7rem;
}

.gh-readmore svg {
    margin-top: 1px;
}

@media (max-width: 700px) {
    .gh-canvas blockquote,
    .gh-canvas dl,
    .gh-canvas ol,
    .gh-canvas p,
    .gh-canvas ul {
        font-family: inherit;
        font-size: 1.6rem;
    }
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}

.gh-button,
.gh-button:hover {
    color: #999 !important;
    font-weight: 500;
    box-shadow: rgba(0,0,0,0.06) 0 1px 1px 0, rgba(0,0,0,0.1) 0 1px 6px 0, rgba(0,0,0,0.05) 0 2px 12px -6px;
}

.gh-button.gh-button-primary,
.gh-button.gh-button-primary:hover {
    color: #fff !important;
    box-shadow: rgba(0,0,0,0.06) 0 1px 1px 0, rgba(0,0,0,0.1) 0 1px 6px 0, rgba(0,0,0,0.05) 0 2px 12px -6px;
}


/* Post CTA
/* ---------------------------------------------------------- */

.gh-upgrade-cta {
    grid-column: wide-start / wide-end;
    width: 100%;
    padding: 7vmin;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    background: color(var(--color-primary) l(-5%));
    border-radius: 8px;
}

.gh-upgrade-cta h2 {
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 2.6rem;
    letter-spacing: -0.5px;
}

.gh-upgrade-cta .gh-button,
.gh-upgrade-cta .gh-button:hover {
    margin: 30px 0;
    color: var(--color-primary) !important;
    background: #fff;
    box-shadow: none;
    text-decoration: none;
}

.gh-upgrade-cta p {
    margin: 0;
}

.gh-upgrade-cta a,
.gh-upgrade-cta a:hover {
    color: #fff;
    text-decoration: underline;
    box-shadow: none !important;
}


/* Pico CTA
/* ---------------------------------------------------------- */

.pico-cta {
    padding: 6vmin 4vw;
    border-top: var(--color-border) 1px solid;
    border-bottom: var(--color-border) 1px solid;
}

.pico-cta h5 {
    margin-bottom: 0.4em;
    font-size: 2rem;
}

.pico-cta .gh-button {
    float: right;
    margin: 0.3em 0 0.3em 6vmin;
}

@media (max-width: 600px) {
    .pico-cta .pico-container {
        display: flex;
        flex-direction: column;
    }
    .pico-cta .gh-button {
        order: 3;
        float: none;
        margin: 1.5em 0 0 0;
    }
}


/* Checkout
/* ---------------------------------------------------------- */

.gh-checkout-form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 8vmin;
    text-align: center;
}

.gh-checkout-title {
    margin: 0 auto 10px;
    font-weight: 700;
    letter-spacing: -0.6px;
}

.gh-checkout-form > p {
    max-width: 500px;
    margin: 0 auto 60px;
    font-size: 1.3em;
    color: rgba(0,0,0,0.5);
}

.gh-checkout-box {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.gh-checkout-plan {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(39,44,49,.03), 0 0 3px rgba(39,44,49,.05), 0 5px 22px -10px rgba(39,44,49,.12), 0 25px 30px -25px rgba(39,44,49,.05);
}

.gh-checkout-plan + .gh-checkout-plan {
    margin-left: 30px;
}

.gh-checkout-plan-header {
    position: relative;
    padding: 0 0 50px;
    color: var(--midgrey);
    text-align: center;
}

.gh-checkout-plan-header:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: 25px;
    left: 30%;
    right: 30%;
    background: rgba(39,44,49,.08);
    border-radius: 2px;
}

.gh-checkout-plan-header h3 {
    margin: 0 0 25px 0;
    font-size: 1.8rem;
    line-height: 1.15em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.gh-checkout-plan-header span {
    font-size: 2.6rem;
    font-weight: 300;
}

.gh-checkout-plan-header strong {
    color: var(--darkgrey);
    font-size: 4.5rem;
    font-weight: 500;
}

.gh-checkout-plan-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gh-checkout-plan-content ul {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
}

.gh-checkout-plan-content li {
    position: relative;
    margin: 0;
    padding: 0 0 0 20px;
    line-height: 1.4em;
}

.gh-checkout-plan-content li:before {
    display: block;
    position: absolute;
    left: 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #98c22e;
    content: "✓";
}

.gh-checkout-plan-content .button {
    margin: 20px 0 0 0;
}

@media (max-width: 740px) {
    .gh-checkout-title {
        margin-top: 50px;
    }
    .gh-checkout-box {
        flex-direction: column;
    }
    .gh-checkout-plan + .gh-checkout-plan {
        margin: 5vmin 0 0 0;
    }
}


/* Account
/* ---------------------------------------------------------- */

.pico-accounthead {
    padding: 0 0 8vmin 0;
    display: flex;
    align-items: flex-start;
}

.pico-accounthead h1 {
    margin: 0 0 5px 0;
    font-size: 2.4rem;
    font-weight: 800;
}

.pico-accounthead p {
    font-size: 1.8rem;
    line-height: 1.5em;
    opacity: 0.6;
}

.pico-field {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    line-height: 1.3em;
}

.pico-field + .pico-field {
    margin-top: 3vmin;
}

.pico-field-value {
    font-size: 1.8rem;
    color: rgba(0,0,0,0.4);
}


/* Global Footer
/* ---------------------------------------------------------- */

.gh-foot {
    padding: 6vmin 4vw;
}

.gh-foot,
.gh-foot a {
    color: #afafaf;
    text-decoration: none;
}
.gh-foot a:hover {
    text-decoration: underline;
}

.gh-foot-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gh-foot-meta,
.gh-foot-meta a {
    color: #555;
    text-decoration: none;
}

.gh-foot-meta > strong {
    font-size: 2rem;
    letter-spacing: -0.5px;
}

.gh-foot-icons {
    display: flex;
    align-items: center;
}

.gh-foot-icons a svg {
    margin: 0 0 0 15px;
    height: 1.8rem;
    fill: currentcolor;
}

.gh-foot-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0 0 0;
}

.gh-foot-menu .nav {
    display: flex;
    align-items: center;
}

.gh-foot-menu .nav li {
    position: relative;
    margin: 0;
}

.gh-foot-menu .nav li + li {
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
}

.gh-foot-menu .nav li + li:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -1px;
    height: 2px;
    width: 2px;
    background: currentColor;
    border-radius: 100%;
}

@media (max-width: 600px) {
    .gh-foot {
        text-align: center;
    }
    .gh-foot-meta {
        flex-direction: column-reverse;
        margin: 20px 0;
    }
    .gh-foot-icons {
        margin: 0 0 20px;
    }
    .gh-foot-icons a svg {
        margin: 0 12px;
    }
    .gh-foot-menu {
        flex-direction: column;
        margin: 0 0 20px;
    }
    .gh-foot-menu .nav {
        margin: 0 0 5px;
    }
}
